.site-branding {
  float: left;

}

.site-title, .site-description {
  display: none;
}



// primary ---------------------
// - asides

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}





//  - comments
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}





//  - posts and pages

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


// secondary - side bar

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}
